
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif;
}

body{
    scroll-behavior: smooth;
    background-image: linear-gradient(to right, #000000, #434343 );
}
.card{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}